.navigation {
    padding: 0px 300px;
    background-color: #112222;
}

nav, .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-items a {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-items a:hover {
    cursor: pointer;
    color: rgb(151, 233, 243);
}

.title {
    color: rgb(151, 233, 243);;
    font-size: 1.8rem;
}

#cart-icon {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 4rem;
    color: black;
}

#cart-icon:hover {
    background-color: rgb(151, 233, 243);;
}